<!DOCTYPE html>
<html>
	<!--
	  - Chatbot for Tim's Chat 3
	  - Copyright (C) 2011 - 2014 Tim Düsterhus
	  - 
	  - This program is free software: you can redistribute it and/or modify
	  - it under the terms of the GNU Affero General Public License as published by
	  - the Free Software Foundation, either version 3 of the License, or
	  - (at your option) any later version.
	  - 
	  - This program is distributed in the hope that it will be useful,
	  - but WITHOUT ANY WARRANTY; without even the implied warranty of
	  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	  - GNU Affero General Public License for more details.
	  - 
	  - You should have received a copy of the GNU Affero General Public License
	  - along with this program.  If not, see <http://www.gnu.org/licenses/>.
	  -->
	<head>
		<meta charset="utf-8" />
		<base href="/" />
		<title>Chatbot</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Chatbot</h1>
			</div>
			<div class="well">
				<dl class="dl-horizontal" style="height: 500px; overflow-y: scroll;" id="messageContainer">
					
				</dl>
				<form role="form" id="form">
					<div class="form-group">
						<div class="input-group">
							<input type="text" id="m" placeholder="Nachricht" required="required" class="form-control input-lg" />
							
							<span class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="submit">Senden</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="//code.jquery.com/jquery.js"></script>
	</body>
</html>
